* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #bac2de;
  transition-duration: 50ms;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0);
}

tooltip {
  background: #1e1e2e;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  border: 2px solid #b4befe;
  color: #b4befe;
}

#workspaces {
  background: rgba(0, 0, 0, 0);
  padding: 4px;
}

#workspaces button {
  padding: 8px 12px;
  margin-right: 4px;
  margin-left: 4px;
  background: #1e1e2e;
  border-radius: 8px;
  color: #9399b2;
  border: 2px solid #9399b2;
}

#workspaces button:hover {
  color: #f2cdcd;
  border: 2px solid #f2cdcd;
}

#workspaces button.active {
  color: #1e1e2e;
  background: #f2cdcd;
  border: 2px solid #f2cdcd;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border: 2px solid #a6e3a1;
}

#custom-updates,
#window,
#clock,
#cpu,
#memory,
#wireplumber,
#network,
#user,
#tray {
  padding: 0 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  border: 2px solid #181825;
  border-radius: 8px;
  background-color: #181825;
  color: #1e1e2e;
}

#clock {
  color: #b4befe;
  border-color: #b4befe;
  margin-left: 4px;
  margin-right: 0px;
}

/* hyprland/window */
#window {
  color: #b4befe;
  background: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  margin-left: 32px;
  margin-right: 32px;
}

/* right side things */

#cpu {
  color: #f9e2af;
  border-color: #f9e2af;
}

#memory {
  color: #fab387;
  border-color: #fab387;
}

#network {
  color: #a6e3a1;
  border-color: #a6e3a1;
}

#wireplumber {
  color: #89b4fa;
  border-color: #89b4fa;
}

#bluetooth {
  color: #cba6f7;
  border-color: #cba6f7;
}
